


@font-face {
    font-family: 'ancient';
    src: URL("/assets/fonts/AncientMedium.ttf") format('truetype');
  }
@font-face {
    font-family: 'dancing';
    src: URL("/assets/fonts/DacningScript.ttf") format('truetype');
  }

  body {
    background-image: url("/assets/images/pattern.jpg");
    font-family:  'ancient';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
    margin: 0;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.letter-container {
    width: 40vw;
    background: url('/assets/images/image.jpg') no-repeat center center;
    background-size: cover;
    font-family: 'ancient', cursive;
    font-size: 1.4rem;
    line-height: 1.2;
    padding: 10vh;
    margin: 5vh 0px;
    text-align: left;
    white-space: pre-line;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    animation: fadeIn 1s ease-in-out;
}
.letter-container p {
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    opacity: 80%;
    mix-blend-mode: hard-light;
}
.letter-container>p>span{
    font-size: 2rem;
    display: block;
    text-align: center;
}

.navigation {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}